body{
	background-color: #9798A1;
	margin: 0px;
	font-family: Helvetica, sans-serif;
}
.flex-container{
	box-shadow: 0px 0px 6px #051868;
display: flex;
width: 100%;
height: 80px;
top: 0;
align-items: center;
background-color: #2043B8;
margin: 0px;
padding: 0px;
position: fixed;
}
.heading{
	padding-left: 200px;
	font-size: 200%;
	width: 50%;
}
.navbar a{
	-webkit-transition:all 0.3s ease; 
}
.navcontent{
	text-decoration: none;
	color: white;
	padding: 15px 15px 15px 15px;
	background-color: #2043B8;
}
.navcontent:hover{
	font-size: 101%;
	position: relative;
	background-color: #03089B;
	border: 1px solid #03089B;
	box-shadow: 0px 0px 2px #040881;
	color: #04093C;
}
.navcontent:active{
	background-color: #1D53EE;
	color: black;
}
#about{
	margin: 80px 150px 0px 150px;
	box-shadow: 0px 0px 6px #9CA1B9;
	background-color: #A6ADCA;
}
.profilepic{
	margin: 80px 80px 40px 50px; 
	width: 250px;
	height: 250px;
border-radius: 50%;
}
.skills{
	color: #DFE1EA;
	padding: 120px 40px 30px 150px;
	text-align: right;
	font-size: 170%;
}
.skillslearning{
	color: #DFE1EA;
	padding: 20px 40px 60px 150px;
	text-align: right;
	font-size: 170%;
}
#portfolio{
	margin: -25px 150px 0px 150px;
	background-color: #EAEBF3;
	box-shadow: 0px 0px 8px #535458;
}
.port{
	text-align: center;
	padding: 80px 0px 20px 0px;
	color: #9798A1;
}
.portdetails{
	display: inline-block;
	padding: 50px ;
}
.portfoliodetails{
	padding: 30px 40px 30px 52px;
	width: 350px;
	height: 200px;
}
#contact{
	display: inline-block;
	background-color: #EAEBF3;
	margin: 0px 150px 0px 150px;
	box-shadow: 0px 0px 8px #535458;
}
.formdisplay{
	padding: 40px 10px 20px 50px;
width: 300px;
height: 50px;

}
.touch{
	padding: 70px 50px 50px 300px;
	color: #9798A1;
	font-size: 150%;
}
.contactme{
	text-align: center;
	color: #9798A1;
	padding: 60px 0px 20px 0px;
}
input[type=text]{
	width: 350px;
	padding: 25px 20px 5px 20px;
	border: none;
	border-bottom: 1px solid grey;
	background-color: #EAEBF3;
	font-size: 150%;
}
input[type=submit]{
	width: 80px;
	margin: 20px 0px 30px 0px;
	text-align: center;
	font-size: 120%;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #6E7076;
}
input:focus{
	outline: none;
	
}
textarea:focus{
	outline: none;
}
textarea{
	width: 350px;
	padding: 25px 20px 10px 20px;
	border:none;
	border-bottom: 1px solid grey;
	background-color: #EAEBF3;
	font-size: 150%;
	font-family: Helvetica, sans-serif;
	height: 200px;
}
.about-page{
	width: 100%;
	display: flex;
	box-shadow: 0px 0px 6px black;
	height: 240px;
	align-items: center;
	margin: 0px;
	padding: 0px;
	background-color: #575963;
}
.about-this-page{
	color: white;
	width: 50%;
}
.around-the-web{
	color: white;
	width: 50%;
}
.icon{
	padding: 8px;
	border: 2px solid white;
	border-radius: 50%;
	transition: all 0.4s ease;
}
.icon:hover{
	color: #2043B8;
	background-color: white;
}
.rights{
	width: 100%;
	height: 70px;
	align-items: center;
	background-color: #05289D;
	margin-top: -16px;
	box-shadow: 0px 0px 6px black;
}